<template>
  <section id="secContact" :class="sectionStartAnimate(sectionIndex)">
    <div class="sec-head-wrapper">
      <h1 class="sec-headline">Contact</h1>
    </div>
    <div class="contact-wrapper section-content-wrapper">

      <app-text-ani :animateTrigger="activeSection === sectionIndex" :textData="'Let’s work together'" ></app-text-ani>

      <div class="about-contact">
        <div class="about-contact-box" v-for="contact in contacts">
          <a :href="contact.link" :target="contact.linkTarget" :data-cursor="contact.cursorText" data-cursoropacity="0.8">
            <!-- <img class="contact-icon" :src="contact.icon" alt=""> -->
          {{contact.it}}
          </a>
        </div>
      </div>
    </div>

  </section>
</template>

<script type="text/babel">

import AppTextAni from '../common/appTextAni.vue'


export default {
  name: 'secLanguages',
  props: ['sectionStartAnimate', 'activeSection' ],
  components:{
    AppTextAni,
  },
  data()  {
    return {
      contacts: [
        // {type: 'phone', it: '+421 902 421 823', icon: '/src/assets/img/contact/ic-phone.svg', link:'tel:00421902421823', linkTarget: ''},
        {type: 'phone', it: '+31 623 606 284', icon: '/src/assets/img/contact/ic-phone.svg', link:'tel:00421902421823', linkTarget: '', cursorText: 'call'},
        {type: 'email', it: 'hello@kmettom.com', icon: '/src/assets/img/contact/ic-email.svg', link:'mailto:hello@kmettom.com', linkTarget: '', cursorText: 'e-mail'},
        {type: 'linkedin', it: 'Tomas Kmet', icon: 'src/assets/img/contact/ic-linkedin.svg', link:'https://www.linkedin.com/in/tomas-kmet-54a41020/', linkTarget: '_blank', cursorText: 'linkedin'},
        // {type: 'cv', it: 'Download', icon: 'src/assets/img/contact/ic-cv.svg', link:'cv_kmettom.pdf', linkTarget: '_blank'}
      ],
      sectionIndex: 3
    };
  },

};
</script>

<style lang="scss" rel="stylesheet/scss">

@import "../assets/sass/config.scss";

#secContact{
  @include respond-width($w-mob){
    padding: 0px;
  }
}

.contact-wrapper.section-content-wrapper{
  max-width: 800px;
  @include respond-width($w-l){
    max-width: 600px;
  }
  @include respond-width($w-mob){
    width: 100%;
  }
}


.about-contact{
  margin-top: 50px;
  position: relative;
  text-align: center;
}
.about-contact-box{
  a{
    padding: 25px 50px;
    font-size: 25px;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    color: $white;
    opacity: 0.8;
    transition: ease all 0.3s;
    @include respond-width($w-l){
      padding: 15px 50px;
      font-size: 20px;
      // font-size: 50px;
    }
    @include respond-width($w-pad){
      padding: 15px 0px;
    }
    @include respond-width($w-mob){
      padding: 10px 0px;
      font-size: 18px;
      // font-size: 50px;
    }
    &:hover{
      opacity: 1;
    }
  }
  .contact-icon{
    right: 0px;
    transition: ease all 0.3s;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    max-height: 35px;
    max-width: 30px;
    padding-right: 15px;
    @include respond-width($w-laptop){
      max-width: 25px;
    }
    @include respond-width($w-mob) {
      max-width: 20px;
      padding-right: 5px;
      display: block;
      margin: 0 auto;
    }
  }
}

</style>
