<template>
  <section id="secLanguages" :class="sectionStartAnimate(sectionIndex)">
    <div class="sec-head-wrapper">
      <h1 class="sec-headline">Languages</h1>
    </div>
    <div class="lang-box-wrapper">
      <div class="lang-box " v-for="lang in languages" :style="secAniInDelay('transition')">
        <div class="box-clip-wrapper">

          <div class="lang-box-bg bg-move">
            <img :src="lang.bg" alt="">
          </div>
          <div class="lang-info" :class="lang.rotate">
            <span class="lang-name">{{ lang.name }}</span>
            <span class="lang-status">{{ lang.status }}</span>
          </div>

        </div>
      </div>
    </div>
  </section>
</template>

<script type="text/babel">

export default {
  name: 'secLanguages',
  props: ['sectionStartAnimate', 'activeSection', 'secAniInDelay'],
  data()  {
    return {
      languages: [
        { name: 'Slovak', bg: 'src/assets/img/bg/lang-1.png' , status: 'native', rotate: 'bottom-left'},
        { name: 'English', bg: 'src/assets/img/bg/lang-2.png', status: 'fluent', rotate: 'top-right'},
        { name: 'Spanish', bg: 'src/assets/img/bg/lang-3.png', status: 'basics', rotate: 'top-right'},
        { name: 'Hungarian', bg: 'src/assets/img/bg/lang-4.png', status: 'native', rotate: 'top-left'},
        { name: 'Polish', bg: 'src/assets/img/bg/lang-5.png', status: 'fluent', rotate: 'bottom-right'}
      ],
      sectionIndex: 4
    };
  },

};
</script>

<style lang="scss" rel="stylesheet/scss">

@import "../assets/sass/config.scss";

#secLanguages{
  &.sec-ani-in{
    .lang-box{
      transform: translate(0%, 0%) rotate(0deg);
    }
  }
}

$lang-box: 350px;
.lang-box-wrapper{
  text-align: right;
  position: absolute;
  top: calc(50% + 80px);
  transform: translate(0,-50%);
  right: 0px;
  left: 0px;
  margin: 0 auto;
  width: 1095px;

  @include respond-width($w-laptop) {
    top: calc(50% + 50px);
    width: 900px;
  }
  @include respond-width($w-pad) {
    width: 570px;
    position: relative;
    margin-right: 40px;
  }
  @include respond-width($w-mob) {
    width: 325px;
    margin-right: -10px;
    top: 50%;
  }
}
.lang-box-bg{
  // background: grey;
  z-index: 0;
}
.box-clip-wrapper{
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  overflow: hidden;
  width: 100%;
  height: 100%;
  &:before{
    z-index: 2;
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    transition: ease all 0.45s;
    background: rgba(255,255,255,0.7);
    @include respond-width($w-pad) {
      // height: 100%;
    }

  }
}
.lang-box{
  background: grey;
  width: $lang-box;
  height: $lang-box;
  margin: 5px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: ease all 0.5s;
  transform: translate(0%, -30%) rotate(0deg);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  @include respond-width($w-laptop) {
    transform: translate(0%, -10%) rotate(0deg);
    width: 270px;
    height: 270px;
  }
  @include respond-width($w-mob) {
    transform: translate(0,0%);
    width: 150px;
    height: 150px;
    margin: 3px;

  }
  &:nth-child(n+4){
    transform: translate(0%, 30%) rotate(0deg);
    right: 180px;
    bottom: 180px;
    @include respond-width($w-laptop) {
      transform: translate(0%, 10%) rotate(0deg);
      right: 140px;
      bottom: 140px;
    }
    @include respond-width($w-pad) {
      transform: translate(20%, 20%) rotate(0deg);
    }
    @include respond-width($w-mob) {
      transform: translate(0,0%);
      right: 78px;
      bottom: 80px;
    }
  }

  &:hover{
    .box-clip-wrapper{
      &:before{
        height: 100%;
      }
    }
    .lang-info{
      color: $black;
      transition: ease all 0.45s;
      transform: rotate(0deg) translate(0,-50%);
    }
    .lang-status{
      opacity: 1;
    }
  }

}
.lang-info{
  z-index: 3;
  transition: ease all 0.3s;
  top: 50%;
  transform: translate(0,-50%);
  right: 0px;
  left: 0px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 25px;
  font-weight: 800;
  color: white;
  @include respond-width($w-laptop) {
    font-size: 18px;
  }
  @include respond-width($w-mob) {
    font-size: 14px;
  }
  &.bottom-left{
    transform-origin: left;
    transition: ease all 0.3s;
    transform: rotate(45deg) translate(-20%,-50%);
  }
  &.bottom-right{
    transform-origin: right;
    transition: ease all 0.3s;
    transform: rotate(-45deg) translate(20%,-50%);
  }
  &.top-right{
    transform-origin: right;
    transition: ease all 0.3s;
    transform: rotate(45deg) translate( 10%,25%);
  }
  &.top-left{
    transform-origin: left;
    transition: ease all 0.3s;
    transform: rotate(-45deg) translate(-10% , 30%);
  }
}
.lang-name{
  text-transform: uppercase;
  display: block;
}
.lang-status{
  font-weight: 400;
  color: $black;
  transition: ease opacity 0.3s;
  display: block;
  opacity: 0;
  @include respond-width($w-pad) {
    // opacity: 1;
  }

}


</style>
