<template>
  <section id="secTimeLine" :class="sectionStartAnimate(sectionIndex)">
    <div class="sec-head-wrapper">
      <h1 class="sec-headline">Timeline</h1>
    </div>
    <div class="time-wrapper">

      <div id="point-desc-wrapper" :style="'top:' + pointDescPosition.x + '; left:' + pointDescPosition.y + ';'">
          <span class="point-job">
            {{timePointDesc.job}}
          </span>
          <span class="point-desc-txt">
            {{timePointDesc.description}}
          </span>
      </div>

      <div class="time-point" v-on:mouseleave="pointDescHide()"  v-on:mouseenter="pointDescPositionSet(index)" :style="setPointTopPosition(index)"   v-for="(point, index) in timePoints" :class="[point.size , point.position, point.offset, point.class]" ref="point">
        <div class="point-bg" v-if="point.position == 'bottom'">
          <div class="bg-move">
            <img :src="point.bg" alt="">
          </div>
        </div>
        <div class="point-info" >
          <span class="point-name">{{point.name}}</span>
          <span class="point-year">{{point.year}}</span>
        </div>
        <div class="point-bg" v-if="point.position == 'top'">
          <div class="bg-move">
            <img :src="point.bg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script type="text/babel">
export default {
  name: "secTimeLine",
  props: ['sectionStartAnimate', 'activeSection', 'secAniInDelay'],
  data() {
    return{
      timePoints: [
        // {class:"uk-bc", name:"Comenius University",job: 'Bachelor\'s degree', description:"Bachelor\'s degree in Management at Faculty of Management of Comenius University, Bratislava.", size: 'sm', year: '2007 - 2010', position:"bottom", offset: 'offset-25', bg: 'src/assets/img/bg/time-1.png'},
        // {class:"express", name:"ExpressPrint.cz",job: 'Workflow optimization', description:"Implementation of new technologies and automation of the fabrication process.", size: 'xs', year: '2009 - 2011', position:"top", offset: 'offset--25', bg: 'src/assets/img/bg/time-2.png'},
        {class:"uk-mgr", name:"Comenius University", job: 'Master\'s degree',description:"Master\'s degree in Management at Faculty of Management of Comenius University, Bratislava.", size: 'md', year: '2007 - 2012', position:"bottom", offset: 'offset--50', bg: 'src/assets/img/bg/time-3.png'},
        {class:"u-gron", name:"University of Groningen",job: 'Exchange program', description:"Erasmus exchange program at University of Groningen, Faculty of Economics and Business, Netherlands.", size: 'xs', year: '2011 - 2012', position:"top", offset: 'offset--100', bg: 'src/assets/img/bg/time-4.png'},
        {class:"acc", name:"Accenture", job: 'Application specialist',description:"Testing and analyzing software applications, IT and administrative support for the project team.", size: 'xs', year: '2012', position:"bottom", offset: '', bg: 'src/assets/img/bg/time-5.png'},
        // {class:"pw", name:"Pricewise",job: 'Analyst', description:"Assisting the project manager to obtain, execute and deliver projects.", size: 'xs', year: '2012', position:"bottom", offset: '', bg: 'src/assets/img/bg/time-6.png'},
        {class:"express", name:"ExpressPrint.cz",job: 'Key operator', description:"Supervising, consulting and coordinating daily production. Improvement of the fabrication process.", size: 'sm', year: '2012 - 2015', position:"top", offset: '', bg: 'src/assets/img/bg/time-7.png'},
        {class:"dp", name:"Direktpoint.com",job: 'Front-end developer', description:"Coding landing pages in SASS, HTML and VanillaJS. Building new company webpage in AngularJS and VanillaJS.", size: 'sm', year: '2016 - 2017', position:"bottom", offset: '', bg: 'src/assets/img/bg/time-8.png'},
        {class:"zest", name:"ZestSoftware.com",job: 'Front-end developer', description:"Working on projects in Angular 4 and Odoo framework", size: 'sm', year: '2017 - 2018', position:"bottom", offset: '', bg: 'src/assets/img/bg/time-1.png'},
        {class:"yabbu", name:"Yabbu.com",job: 'Lead Front-end', description:"", size: 'lg', year: '2018 - present', position:"top", offset: '', bg: 'src/assets/img/bg/time-1.png'},
        // https://www.milieurapport.be/milieudata/kernset
      ],
      timePointDesc : '',
      sectionIndex: 1,
      pointDescPosition: { x: '0px' , y: '0px' }
    }
  },
  methods: {
    setPointTopPosition(index){
      let $points = this.$refs.point;
      let transDelay = this.secAniInDelay('transition');
      if (this.timePoints[index].position == 'top' ) {
        let pointHeight;
        $points != undefined ? pointHeight = $points[index].clientHeight : 0;
        return 'bottom:' + pointHeight + 'px;' + transDelay;
      }else if (this.timePoints[index].position == 'bottom' ) {
        return transDelay;
      }
    },
    pointDescPositionSet(index){
      let $point = document.getElementsByClassName('time-point')[index];
      let $pointDesc  = document.getElementById('point-desc-wrapper');
      let pointWidth = $point.clientWidth;
      let pointHeight = $point.clientHeight;
      let pointPosition = $point.offsetLeft;
      let pointDescMargin = 15;

      $pointDesc.classList.remove('show')
      setTimeout(() => {
        this.timePointDesc = this.timePoints[index];
      },150)
      setTimeout(() => {
        this.pointDescPosition.y = 10 + pointPosition  + 'px';
        this.pointDescPosition.x = $point.className.includes('top') ? - $pointDesc.clientHeight - pointDescMargin -  pointHeight + 'px' : pointDescMargin +  pointHeight + 'px' ;
        $pointDesc.classList.add('show');
      }, 250)
    },
    pointDescHide(){
      let $pointDesc  = document.getElementById('point-desc-wrapper');
      $pointDesc.classList.remove('show');
    }
  }
};
</script>

<style lang="scss" rel="stylesheet/scss">

@import "../assets/sass/config.scss";
@import "../assets/sass/timeLinePointSize.scss";

$box-xs-h: 75px;
$box-xs-w: 125px;

$box-sm-h: 100px;
$box-sm-w: 150px;

$box-sm-h: 125px;
$box-sm-w: 175px;

$box-md-h: 150px;
$box-md-w: 225px;

$box-lg-h: 175px;
$box-lg-w: 250px;

$box-xl-h: 200px;
$box-xl-w: 300px;

$box-rwd-hd-w: 1;
$box-rwd-hd-h: 1;
$box-rwd-lap-w: 0.7;
$box-rwd-lap-h: 0.7;
$box-rwd-mob-w: 0.7;
$box-rwd-mob-h: 0.5;


  #secTimeLine{
    position: relative;
    &.sec-ani-in{
      .time-point{
        transition: ease all 0.2s;
        opacity: 1;
        transform: translate(0px , 0px);
      }
    }
  // }
  .sec-head-wrapper .sec-headline{
    @include respond-width($w-pad){
      position: relative;
      left: -25px;
    }
    @include respond-width($w-mob){
      left: 175px;
      text-align: left;
    }
  }
  .time-wrapper{
    text-align: center;
    top: calc(50% + 113px);
    transform: translate( 0% ,-50%);
    left: 0px;
    right: 0px;
    margin: 0 auto;
    position: absolute;
    @include respond-width($w-laptop) {
      top: calc(50% + 83px);
    }
    @include respond-width($w-pad) {
      position: relative;
      width: -moz-max-content;
      width: -webkit-max-content;
      width: max-content;
      padding: 0px 100px;
    }
    @include respond-width($w-mob) {
      top: calc(50% + 35px);
    }
    &:after{
      content: "";
      position: absolute;
      top: -2px;
      right: 0%;
      width: 100%;
      height: 4px;
      background: $black;
      background: linear-gradient(-90deg, $grey-bg , $black 20%, $black 80%, $grey-bg ); /* Standard syntax */
    }
  }
  .time-point{
    display: inline-block;
    position: relative;
    vertical-align: top;
    // cursor: pointer;

    transition: ease all 0.2s;
    opacity: 0;
    transform: translate( -75px , 0px );

    @include respond-width($w-mob) {
      opacity: 1;
      transform: translate( 0px , 0px );
    }

    &:hover{
      .point-desc-txt,
      .point-desc{
        opacity: 1;
        transition: ease all 0.3s;
      }
      .point-bg{
        // opacity: 0.5;
        &:after{
          transition: ease 0.45s;
          height: 100%;
        }
      }
    }

    @include time-point-size($box-rwd-hd-w, $box-rwd-hd-h);

    @include respond-width($w-laptop){
      @include time-point-size($box-rwd-lap-w, $box-rwd-lap-h);
    }
    @include respond-width($w-mob){
      @include time-point-size($box-rwd-mob-w, $box-rwd-mob-h);
    }

    &.top{
      .point-bg{
        -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        &:after{
          bottom: 0px;
        }
      }
    }
    &.bottom{
      .point-bg{
        -webkit-clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
        clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
        &:after{
          top: 0px;
        }
      }
      .point-desc{
        position: relative;
        margin-top: 10px;
      }
    }
  }
  .point-bg{
    position: relative;
    &:after{
      position: absolute;
      content: '';
      right: 0px;
      left: 0px;
      width: 100%;
      height: 0%;
      background: rgba(255,255,255,0.65);
      transition: ease 0.25s;
    }
  }

  .point-info{
    margin: 0 auto;
    position: relative;
    color: $black;
    font-size: 15px;
    @include respond-width($w-laptop) {
      font-size: 13px;
      max-width: 120%;
    }
    .point-year,
    .point-name{
      display: block;
      text-align: center;
    }
    .point-name{
      font-weight: 600;
    }
  }

  #point-desc-wrapper{
    text-align: left;
    width: 300px;
    white-space: normal;
    position: absolute;
    font-size: 15px;
    opacity: 0;
    transform: translate(50px,0px);
    transition-property: transform,opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    @include respond-width($w-laptop) {
      width: 250px;
    }
    &.show{
      transition-property: transform,opacity;
      transition-duration: 0.30s;
      transition-timing-function: ease;
      transform: translate(0px,0px);
      opacity: 1;
    }

    .point-job{
      font-size: 15px;
      font-weight: 600;
      display: block;
      margin-bottom: 5px;
      @include respond-width($w-laptop) {
        font-size: 13px;
      }
    }
    .point-desc-txt{
      font-size: 13px;
      transition: ease all 0.3s;
    }
  }
}



</style>
