<template>
  <section id="secSkills" :class="sectionStartAnimate(sectionIndex)">
    <div class="sec-head-wrapper">
      <h1 class="sec-headline">Skills</h1>
    </div>
    <div class="skills-content-wrapper">

      <div class="skills-wrapper" v-for="box in skills">
        <div class="skill-box" v-for="skill in box" :style="setBoxRandomPosition()" :class="[skill.class, skill.size]" >
          <div class="skill-info" :class="[skill.size,  skill.infoPos]" >
            <div class="skill-name">
              <span>
                {{skill.name}}
                <!-- {{skill.class}} -->
              </span>
            </div>
          </div>
          <div class="skill-bg-wrapper">
            <div class="skill-bg bg-move ">
              <img :src="skill.bg" alt="mountain">
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>

<script type="text/babel">
export default {
  name: 'secSkills',
  props: ['sectionStartAnimate' ],
  data(){
    return {
      skills:[
        [
          { name: 'ExpressJS', bg : 'src/assets/img/bg/skills4.jpg', class: 'skill1' , size: 'xs', infoPos: 'right'},
          { name: 'NodeJS', bg : 'src/assets/img/bg/skills7.jpg', class: 'skill2' , size: 'sm', infoPos: 'right'},
        ],
        [
          { name: 'Solidity', bg : 'src/assets/img/bg/skills6.jpg', class: 'skill3' , size: 'xs', infoPos: 'left'},
        ],
        [
          { name: 'Angular7+', bg : 'src/assets/img/bg/skills3.jpg', class: 'skill4', size: 'md' , infoPos: 'left'},
          { name: 'AngularJS', bg : 'src/assets/img/bg/skills2.jpg', class: 'skill5', size: 'lg', infoPos: 'right' },
          { name: 'VueJS', bg : 'src/assets/img/bg/skills5.jpg', class: 'skill6' , size: 'xl', infoPos: 'left'},
        ],
        [
          { name: 'Grunt', bg : 'src/assets/img/bg/skills8.jpg', class: 'skill7', size: 'sm' , infoPos: 'left'},
          { name: 'Webpack', bg : 'src/assets/img/bg/skills9.jpg', class: 'skill8' , size: 'lg', infoPos: 'left'},
          { name: 'Gulp', bg : 'src/assets/img/bg/skills1.jpg', class: 'skill9' , size: 'md', infoPos: 'right'},
          ]
          ],
          sectionIndex: 1
        };
      },
      methods: {
        setBoxRandomPosition(){
          // RANDOM position
          if (window.innerWidth < 650) return;
          let randomTop = Math.floor(Math.random() * 60) + 20 ;
          let randomLeft = Math.floor(Math.random() * 30) - 15;
          let randomPosition;
          if (window.innerWidth < 1300) {
            randomPosition = 'transform: translate(' + randomTop/2 + 'px , ' + randomLeft/2 + 'px; transition-delay: 0.3s;';
          }else{
            randomPosition = 'transform: translate(' + randomTop + 'px , ' + randomLeft + 'px; transition-delay: 0.3s;';
          }

          return randomPosition;
        }
      }
    };
  </script>

  <style lang="scss" rel="stylesheet/scss">

    @import "../assets/sass/config.scss";

    #secSkills{
      @include respond-width($w-mob){
        width: calc(100vw);
      }
      &.sec-ani-in{
        .skill-name{
          span{
            top: -12px;
            transition: ease all 0.4s;
            transition-delay: 0.65s;
            opacity: 1;
            transform: translate(0px, 0px);
          }
        }
        .skill-name:after{
          transition: ease all 0.4s;
          transition-delay: 0.5s;
          opacity: 0.8;
          transform: translate( 0px , 0px );
        }
        .skill-name:before{
          transition: ease all 0.6s;
          transition-delay: 0.3s;
          opacity: 0.4;
          transform: translate( 0px , 0px );
        }
      }

    }
    .skills-content-wrapper{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      transform: translate( 0 , -50% );
      right: 0px;
      left: 0px;
      margin: 0 auto;
      @include respond-width($w-mob){
        width: 80%;
      }
    }
    .skills-wrapper{
      left: 10%;
      width: 40%;
      height: 49%;
      display: inline-block;
      vertical-align: bottom;
      position: relative;
      @include respond-width($w-pad) {
        height: 45%;
      }
      @include respond-width($w-mob) {
        // width: 30%;
      }
    }
    .skill-box{
      position: absolute;
      transition: ease all 0.75s;
      // @include respond-width($w-pad) {
      //   // transform: scale(0.8);
      // }
      @include respond-width($w-mob) {
        transform: scale(0.55);
      }
      @include respond-width($w-xxs) {
        transform: scale(0.5);
      }
      &.skill1{
        top:25%;
        left: 25%;
        @include respond-width($w-pad) {
          left: 0%;
        }
        @include respond-width($w-mob) {
          left: -15%;
          top: 20%;
        }
      }
      &.skill2{
        top: 50%;
        right: 45%;
        @include respond-width($w-mob) {
          right: 80%;
          // top: 30%;
        }
      }
      &.skill3{
        top: 35%;
        left: 25%;
        @include respond-width($w-mob) {
          left: 60%;
        }
      }
      &.skill4{
        bottom: 40%;
        left: 25%;
        @include respond-width($w-pad) {
          left: 0px;
        }
        @include respond-width($w-mob) {
          bottom: 0%;
          left: -20%;
        }
      }
      &.skill5{
        bottom: 25%;
        left: 35%;
        @include respond-width($w-pad) {
          left: 5%;
          // bottom: 45%;
        }
        @include respond-width($w-mob) {
          bottom: 10%;
        }
      }
      &.skill6{
        bottom: 55%;
        right: -10%;
        @include respond-width($w-pad) {
          // bottom: 0px;
          right: -20%;
        }
        @include respond-width($w-mob) {
          bottom: 65%;
          right: -45%;
        }
      }
      &.skill7{
        bottom: 35%;
        right: 55%;
        @include respond-width($w-pad) {
          bottom: 10%;
          right: 35%
        }
        @include respond-width($w-mob) {
          bottom: 20%;
        }
      }
      &.skill8{
        bottom: 45%;
        right: 35%;
        @include respond-width($w-pad) {
          right: 15%;
        }
        @include respond-width($w-mob) {
          right: -30%;
          bottom: 65%;
        }
      }
      &.skill9{
        bottom: 30%;
        right: 17%;
        @include respond-width($w-pad) {
          right: 0%
          // bottom: 45%;
        }
        @include respond-width($w-mob) {
          bottom: 10%;
        }
      }
      // sizes
      &.xl{
        width: 250px;
        height: 430px;
        @include respond-width($w-laptop) {
          width: 180px;
          height: 250px;
        }
        @include respond-width($w-mob) {
          width: 120px;
          height: 250px;
        }
      }
      &.lg{
        width: 180px;
        height: 335px;
        @include respond-width($w-laptop) {
          width: 120px;
          height: 220px;
        }
      }
      &.md{
        width: 135px;
        height: 230px;
        @include respond-width($w-laptop) {
          width: 95px;
          height: 185px;
        }
      }
      &.sm{
        width: 125px;
        height: 185px;
        @include respond-width($w-laptop) {
          width: 80px;
          height: 105px;
        }
      }
      &.xs{
        width: 100px;
        height: 140px;
        @include respond-width($w-laptop) {
          width: 60px;
          height: 80px;
        }
      }

    }
    .skill-bg-wrapper{
      -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      height: 100%;
      width: 100%;
      position: relative;
      img,
      .bg-move{
        height: 100%;
      }
    }
    .skill-info {
      text-align: center;
      position: absolute;
      z-index: 10;
      &.xl,
      &.lg{
        top: 30px;
        @include respond-width($w-laptop) {
          top: 20px;
        }
        @include respond-width($w-mob) {
          top: 0px;
        }
      }
      &.md{
        top: 20px;
        @include respond-width($w-laptop) {
          top: 10px;
        }
        @include respond-width($w-mob) {
          top: 0px;
        }
      }
      &.sm,
      &.xs{
        top: 15px;
        @include respond-width($w-laptop) {
          top: 0px;
        }
      }
      &.right{
        &.xl{
          left: 150px;
          @include respond-width($w-laptop){
            left: 140px;
          }
          @include respond-width($w-mob) {
            left: 110px;
          }
        }
        &.lg{
          left: 120px;
          @include respond-width($w-laptop){
            left: 100px;
          }
          @include respond-width($w-mob) {
            left: 75px;
          }
        }
        &.md{
          left: 100px;
          @include respond-width($w-laptop){
            left: 90px;
          }
          @include respond-width($w-mob) {
            left: 70px;
          }
        }
        &.sm,
        &.xs{
          left: 90px;
          @include respond-width($w-laptop){
            left: 80px;
          }
          @include respond-width($w-mob) {
            left: 55px;
          }
        }
        .skill-name{
          &:before,
          &:after{
            transform: translate( -35px , 35px );
          }
        }
      }
      &.left{
        &.xl{
          right: 150px;
          @include respond-width($w-laptop){
            right: 140px;
          }
          @include respond-width($w-mob) {
            right:  80px;
          }
        }
        &.lg{
          right: 120px;
          @include respond-width($w-laptop){
            right: 100px;
          }
          @include respond-width($w-mob) {
            right:  75px;
          }
        }
        &.md{
          right: 100px;
          @include respond-width($w-laptop){
            right: 90px;
          }
          @include respond-width($w-mob) {
            right:  55px;
          }
        }
        &.sm,
        &.xs{
          right: 90px;
          @include respond-width($w-laptop){
            right: 80px;
          }
          @include respond-width($w-mob) {
            right:  55px;
          }
        }
        .skill-name{
          &:before,
          &:after{
            transform: translate( 35px , 35px );
          }
        }
      }
      .skill-name{
        position: relative;
        // font-weight: 600;
        padding-bottom: 5px;
        margin-bottom: 5px;
        font-size: 20px;
        @include respond-width($w-laptop) {
          margin-bottom: 0px;
          font-size: 15px;
        }
        @include respond-width($w-mob) {
          font-size: 21px;
        }
        @include respond-width($w-xxs) {
          font-size: 21px;
        }
        span{
          transition-delay: 0.5s; //xxx
          opacity: 0;
          transition: ease all 0.4s;
          position: relative;
          // left: -100px;
          top: -18px;
          @include respond-width($w-mob) {
            left: 0px;
            opacity: 1;
          }
        }
        &:before,
        &:after{
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $white;
          position: absolute;
          bottom: 0px;
          left: 0px;
          right: 0px;
          margin: 0px auto;
          transition: ease 0.4s;
          opacity: 0;
          // transform: translate(0px , 35px );
          // opacity: 0.8;
        }
        &:before{
          opacity: 0;
          // transform: translate( 0px , 35px );
          bottom: -5px;
          width: 16px;
          height: 16px;
          // opacity: 0.4;
        }
      }
    }


  </style>
