<template>
  <section id="secAbout" :class="{firstinit : firstAniInit}">

    <!-- <div class="about-content-wrapper"> -->
      <div class="sec-head-wrapper">
        <h1 class="sec-headline">About</h1>
      </div>
      <div class="about-wrapper section-content-wrapper">
        <div class="about-header-wrapper">
          <app-text-ani :animateTrigger="activeSection === sectionIndex" :textData="'I’m a front-end developer from Slovakia, living in Amsterdam.'" ></app-text-ani>
        </div>

        <div class="about-info-wrapper">

          <div class="about-box-wrapper">
            <p class="about-txt">
              I am a Front-end developer, with managerial background. With 5 years of javascript experience I have worked with a broad spectrum of development tools, frameworks and backend API's. Currently I’m leading the front-end part of Yabbu - web application for better meetings. I am specialized in VueJS, AngularJS/7+, Webpack, Gulp, Grunt, NodeJS and interested in DApps with Solidity.
              <!-- Currentle I am the Lead Front-end developer at Yabbu - web application for better meetings. I have 5 years of javascript experience and , living in Amsterdam. Currently I’m leading the front-end part of Yabbu - web application for better meetings. I highly value teamwork and good communication.    -->
            </p>
          </div>

          <div class="about-box-wrapper">
            <p class="about-txt">
              I've studied management and worked in process optimization field when I decided to learn to code. I’ve worked for international companies in multidisciplinary teams. Currently I am collaborating with developers, animators, managers, and designers, so I am always open to new projects and to help a project to get to the desired goal.
            </p>
            <!-- <p class="about-txt">
            In my spare time I am working on my personal project eotm.info, where I’m rebuilding the front-end in VueJS and building NodeJs + MongoDB back-end. I am also interested in blockchan DApps and working with Solidity.
          </p> -->
        </div>

      </div>
    </div>

  <!-- </div> -->
</section>
</template>

<script type="text/babel">

  import AppTextAni from '../common/appTextAni.vue'

  export default {
    name: "secAbout",
    props: [  'activeSection', 'firstAniInit'],
    components:{
      AppTextAni,
    },
    data() {
      return{
        contacts: [
        {type: 'phone', it: '+421 902 421 823', icon: '/src/assets/img/contact/ic-phone.svg', link:'tel:00421902421823', linkTarget: ''},
        {type: 'email', it: 'hello@kmettom.com', icon: '/src/assets/img/contact/ic-email.svg', link:'mailto:hello@kmettom.com', linkTarget: ''},
        {type: 'linkedin', it: 'Tomas Kmet', icon: 'src/assets/img/contact/ic-linkedin.svg', link:'https://www.linkedin.com/in/tomas-kmet-54a41020/', linkTarget: '_blank'},
        // {type: 'cv', it: 'Download', icon: 'src/assets/img/contact/ic-cv.svg', link:'cv_kmettom.pdf', linkTarget: '_blank'}
      ],
      sectionIndex: 0,
      }
    },

  };
</script>

<style lang="scss" rel="stylesheet/scss">
  @import "../assets/sass/config.scss";

  #secAbout{
    opacity: 0;
    @include respond-width($w-mob){
      width: calc( 100vw * 2);
    }
    &.firstinit{
        transition: ease all 1s;
        transition-delay: 2.1s;
        opacity: 1;
        @include respond-width($w-pad){
          transition-delay: 0.5s;
        }
    }
  }


  .about-wrapper.section-content-wrapper{
    max-width: 1400px;
    @include respond-width($w-mob){
      width: calc(100% - 0px);
    }
  }

  .about-header-wrapper{
    @include respond-width($w-mob){
      display: inline-block;
      width: calc(49% - 40px);
      padding: 30px;
    }
    @include respond-width($w-xxs){
      width: calc(49% - 30px);
      padding: 20px;
    }
  }

  .about-info-wrapper{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    @include respond-width($w-pad){
      justify-content: initial;
      width: 100%;
      display: block;
    }
    @include respond-width($w-mob){
      display: inline-block;
      // width: 49%;
      width: calc(49% - 20px);
      vertical-align: middle;
    }
  }

  .about-box-wrapper{
    opacity: 0.8;
    padding: 20px;
    max-width: 450px;
    vertical-align: top;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    @include respond-width($w-l){
      max-width: 400px;
      font-size: 14px;
      line-height: 20px;
    }
    @include respond-width($w-pad){
      max-width: none;
    }
    @include respond-width($w-xs){
      line-height: 18px;
      font-size: 13px;
    }

    .about-txt{
      margin: 0px 0px 10px;
      padding: 0px;

    }
    .about-link{
      position: relative;
      color: $white;
      text-decoration: none;
      &:after{
        // transition: ease all 0.25s;
        transition: ease all 0.25s;
        position: absolute;
        content: '';
        left: 0px;
        right: 0px;
        margin: 0 auto;
        width: 100%;
        bottom: -1px;
        height: 1px;
        background: $white;
      }
      &:hover{
        &:after{
          width: 80%;
          transition: ease all 0.25s;
        }
      }
    }
  }



</style>
