<template>
  <section id="secProjects" :class="{ secaniin : activeSection == sectionIndex , secaniout : activeSection != sectionIndex }">

    <div class="sec-head-wrapper">
      <h1 class="sec-headline">Projects</h1>
    </div>

      <div class="projects-wrapper section-content-wrapper">
        <a class="project-box" :href="project.link" target="_blank" v-for=" (project, index)  in projectsActive" data-cursor="Show" data-cursoropacity="0.8">
          <div class="project-name-wrapper" data-cursor="Show"  data-cursoropacity="0.8"  >
            <h3 class="project-name" data-cursor="Show"  data-cursoropacity="0.8" >{{project.name}}</h3>
            <h3 class="project-name-bg" :style="{ backgroundImage: 'url(src/assets/img/bg/' + project.bg + ')' }" data-cursor="Show"  data-cursoropacity="0.8" >{{project.name}}</h3>
          </div>
          <p class="project-desc-wrapper" data-cursor="Show"  data-cursoropacity="0.8" >
            <span class="project-desc" data-cursor="Show"  data-cursoropacity="0.8" >
              {{ project.description }}
            </span class="project-desc">
          </p>
        </a>
      </div>
  </section>
</template>


<script type="text/babel">
export default {
  name: 'secProjects',
  props: ['sectionStartAnimate', 'activeSection'],
  data()  {
    return {
      projectsActive: [
        { name: 'yabbu', bg:'proj1.png' , link : 'http://yabbu.com/', class: 'yabbu', description:'Leading the front-end part for a web app project. Focused on migration from AngularJS and Grunt to VueJS and Webpack. Small bits done also in NodeJS.' },
        { name: 'jagoda', bg:'proj2.png' , link : 'http://jagodakondratiuk.com/', class: 'jk', description:"Unique design of a photographer's gallery. This one page website is done in AngularJS and little bit of NodeJS for contact form deployed on Heroku" },
        { name: 'eotm', bg:'proj3.png' , link : 'http://eotm.info/', class: 'eotm', description:'Platform for sharing arts and inspiration. Website done in AngularJS, currently working on a complete redesign in VueJS with NodeJS CMS backend' },
        { name: 'dp', bg:'proj4.png' , link : 'http://www.direktpoint.com/', class: 'dp', description:'Company website done in AngularJS and VanillaJS, with interesting design of portfolio site, paralax of images and reactive topbar' },
      ],
      sectionIndex: 2,
      isIpPl : false
    };
  },

};
</script>

<style lang="scss" rel="stylesheet/scss">

  @import "../assets/sass/config.scss";


  #secProjects{
    position: relative;
    overflow: hidden;
    @include respond-width($w-mob){
        width: calc(100vw * 2);
    }
  }
  .secaniin{
    .project-name-wrapper,
    .project-desc-wrapper{
      opacity: 1;
      transform: translate(0px,0);
    }
  }
  .secaniout{
    .project-name-wrapper,
    .project-desc-wrapper{
      opacity: 0;
      transform: translate( -25px,0);
    }
  }
  .projects-wrapper.section-content-wrapper{
      @include respond-width($w-mob){
        width: calc(100% + 10px);
        // width: 95%;
      }
  }
  .project-box{
    &:nth-child(1){
      .project-name-wrapper{
        transition-delay: 0.1s;
      }
      .project-desc-wrapper{
        transition-delay: 0.2s;
      }
    }
    &:nth-child(2){
      .project-name-wrapper{
        transition-delay: 0.2s;
      }
      .project-desc-wrapper{
        transition-delay: 0.3s;
      }
    }
    &:nth-child(3){
      .project-name-wrapper{
        transition-delay: 0.4s;
      }
      .project-desc-wrapper{
        transition-delay: 0.5s;
      }
    }
    &:nth-child(4){
      .project-name-wrapper{
        transition-delay: 0.6s;
      }
      .project-desc-wrapper{
        transition-delay: 0.7s;
      }
    }

  }

  .project-box{
    padding: 30px 0px;
    display: block;
    text-decoration: none;
    color: $white;
    outline: none;
    position: relative;
    &:hover{
      .project-name-bg{
        opacity: 1;
      }
      .project-name{
        opacity: 0;
      }
      .project-desc{
        opacity: 1 ;
      }
    }
    @include respond-width($w-l){
      padding: 15px 0px;
    }
    @include respond-width($w-mob){
      display: inline-block;
      width: calc(50% - 62px);
      margin: 0px 30px;
      padding: 0px 0px 45px;
    }
  }
  .project-name-wrapper{
    transition: ease all 0.6s;
    display: inline-block;
    width: 28%;
    position: relative;
  }
  .project-desc-wrapper{
    transition: ease all 0.6s;
    padding: 0px;
    margin: 0px;
    padding-left: 75px;
    vertical-align: top;
    display: inline-block;
    width: calc(70% - 80px);
    max-width: 480px;
    @include respond-width($w-mob){
      padding: 0px;
      padding-left: 0px;
      width: 100%;
    }
  }
  .project-name-bg,
  .project-name{
    transition: ease opacity 0.5s;
    font-size: 52px;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-align: right;
    font-family: "HelveticaMedium";
    vertical-align: top;
    @include respond-width($w-l){
      font-size: 45px;
    }
    @include respond-width($w-pad){
      padding-bottom: 5px;
      font-size: 30px;
    }
    @include respond-width($w-mob){
      text-align: left;
      font-size: 30px;
    }
  }
  .project-name-bg{
    animation: bg-move forwards infinite linear 30s;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    filter: brightness(1.4);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    // background-size: inherit;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include respond-width($w-mob){
      opacity: 1;
      left: 0px;
      right: initial;
    }
  }

  .project-desc{
    transition: ease opacity 0.5s;
    position: relative;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    opacity: 0.7;
    transform: translate( -25px ,0px);
    @include respond-width($w-l){
      font-size: 14px;
    }
    @include respond-width($w-pad){
      display: block;
      width: 100%;
      padding-left: 0px;
      transform: translate( 0px ,0px);
    }
    @include respond-width($w-mob) {
      letter-spacing: 0px;
    }
  }

@keyframes ani-in-name{
  0% {
    opacity: 0;
    transform: translate(-25px , 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px , 0px);
  }
}
@keyframes ani-out-name{
  0% {
    opacity: 1;
    transform: translate(0px , 0px);
  }
  100% {
    opacity: 0;
    transform: translate(-25px , 0px);
  }
}

@keyframes ani-in-desc{
  0% {
    opacity: 0;
    transform: translate(-25px , 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px , 0px);
    transition-delay: 0s;
  }
}
@keyframes ani-out-desc{
  0% {
    opacity: 1;
    transform: translate(0px , 0px);
    // transition-delay: 0s;
  }
  100% {
    opacity: 0;
    transform: translate(-25px , 0px);
  }
}

@keyframes bg-move {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

</style>
