<template>
  <section id="secProjects" :class="sectionStartAnimate(sectionIndex)">
    <div class="projects-section-wrapper">

    <div class="projects-head-wrapper">
      <div class="projects-head-bg">
        <div class="bg-move">
          <img src="src/assets/img/bg/projects-head-bg.png" alt="">
        </div>
      </div>
      <div class="projects-head-txt">
        Projects
      </div>
    </div>
    <div class="projects-wrapper">
      <div  :class="project.size" class="project-box" v-for=" (project, index)  in projectsActive" >
        <div class="project-clip-wrapper">

          <div class="project-img">
            <img :src="project.bg" alt="">
          </div>
          <div class="project-desc">
            <span class="project-name">{{project.name}}</span>
            <span>{{ project.description }}</span>
            <br/>
            <a class="proj-link" :href="project.link" target="_blank" ><span>show me</span></a>
            <!-- <a class="proj-link" :href="project.link" target="_blank" ><span>show me</span></a> -->
          </div>

        </div>
      </div>
    </div>
  </div>
  </section>
</template>


<script type="text/babel">
export default {
  name: 'secProjects',
  props: ['sectionStartAnimate', 'activeSection'],
  data()  {
    return {
      projectsActive: [
        { name: 'eotm.info', link : 'http://eotm.info/', class: 'eotm', description:'Project in AngularJS, currently working on NodeJs and VueJs redesign', bg : 'src/assets/img/projects/project-eotm.png', size: 'sm'},
        { name: 'jagoda kondratiuk.com', link : 'http://kmettom.com/projects/jk.com/#/', class: 'jk', description:"Photographer's Gallery website done in AngularJS, contact form in NodeJS.", bg : 'src/assets/img/projects/project-jk.png', size: 'md'},
        { name: 'yabbu.com', link : 'http://app.yabbu.com/', class: 'yabbu', description:'xxx', bg : 'src/assets/img/projects/project-dp.png', size: 'lg'},
        { name: 'direktpoint.com', link : 'http://www.direktpoint.com/', class: 'dp', description:'Company website done in AngularJS and VanillaJS', bg : 'src/assets/img/projects/project-dp.png', size: 'xs'},
      ],
      projectsPL: [
        { name: 'eotm.info', link : 'http://eotm.info/', class: 'eotm', description:'Web design and artistic project done in AngularJS, currently working on backend in NodeJS and React as an interface.', bg : 'src/assets/img/projects/project-eotm.png', size: 'lg'},
        { name: 'jagoda kondratiuk.com', link : 'http://kmettom.com/projects/jk.com/#/', class: 'jk', description:"Photographer's Gallery website done in AngularJS, contact form in NodeJS. Currently with test data.", bg : 'src/assets/img/projects/project-jk.png', size: 'md'},
        // { name: 'vizulajz.com', link : 'http://vizulajz.com/PROJECTS/old/indexEN.html', class: 'viz', description:'One of my first websites in CSS, HTML and jQuery.',  bg : 'src/assets/img/projects/project-viz.png', size: 'sm'},
      ],
      // projectsActive: '',
      sectionIndex: 2,
      isIpPl : false
    };
  },
  mounted(){
    let projectsActiveSet = (country) => {
      if (country == 'PL') {
        this.projectsActive = this.projectsPL;
      }
    };
    let xhr = new XMLHttpRequest();
    xhr.open('GET', 'https://freegeoip.net/json/?callback', true);
    xhr.responseType = 'json';
    xhr.onload = () => {
      var status = xhr.status;
      if (status === 200) {
        if(!window.location.search.includes('?projects=true')){
          projectsActiveSet(xhr.response.country_code);
        }
      }
    };
    xhr.send();
  }
};
</script>

<style lang="scss" rel="stylesheet/scss">

@import "../assets/sass/config.scss";

$box-lg: 400px;
$box-md: 350px;
$box-sm: 300px;
$box-xs: 250px;

$box-head: 900px;

#secProjects{
  position: relative;
  overflow: hidden;
  &.sec-ani-in{
    .project-box{
      transform: translate3d(0%, -50%, 0px);
      // -webkit-transform: translate(0,-50%);
    }
    .projects-head-wrapper .projects-head-txt{
      // left: 200px;
      // top: 40%;
    }
  }
}
.projects-section-wrapper{
  height: 100%;
  position: relative;
  right: 50px;
  top: 5px;
  @include respond-width($w-pad){
    right: 0px;
  }
  @include respond-width($w-mob) {
    padding: 0px 50px;
  }
}
.projects-head-wrapper{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  right: 0px;
  height: $box-head;
  width: $box-head;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  overflow: hidden;
  @include respond-width($w-laptop) {
    height: 550px;
    width: 550px;
  }
  @include respond-width($w-pad){
    position: relative;
    display: inline-block;
    top: 0px;
    transform: none;
    margin-top: 10%;
  }
  @include respond-width($w-mob) {
    margin-top: -35%;
    height: 350px;
    width: 350px;
  }
  .projects-head-bg{
    height: 100%;
    width: 100%;
  }
  .projects-head-txt{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 0px;
    left: 0px;
    margin: 0 auto;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(255,255,255,0.7);
    // mix-blend-mode: overlay;
    font-size: 85px;
    @include respond-width($w-laptop) {
      font-size: 60px;
    }
    @include respond-width($w-mob) {
      font-size: 40px;
    }
  }
}

.projects-wrapper{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  right: 1000px;
  width: 0px;
  @include respond-width($w-laptop) {
    right: 580px;
  }
  @include respond-width($w-pad){
    position: relative;
    width: 100%;
    right: -22%;
    display: inline-block;
    top: 0px;
    transform: none;
    margin: 0 auto;
  }

}
.project-clip-wrapper{
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  overflow: hidden;
  &:before{
    z-index: 2;
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    transition: ease all 0.4s;
    background: rgba(255,255,255,0.85);
    @include respond-width($w-pad) {
      height: 100%;
    }
  }

}
.project-box{
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transition: ease all 0.5s;
  overflow: hidden;
  display: block;
  margin: 0px;
  padding: 0px;
  position: absolute;
  // right: 100px;
  // -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%) translate3d(0px, 0px, 0px);
  @include respond-width(1600px) {
    transform: translate(-50%, -50%) ;
  }
  @include respond-width($w-laptop) {
    transform: translate(-100%, -50%) ;
  }
  @include respond-width(1250px) {
    transform: translate(-35%, -50%) ;
  }
  @include respond-width($w-pad) {
    transform: translate(-35%, -50%) ;
  }
  @include respond-width($w-mob) {
    transform: translate(0%, -50%) ;
  }
  img{
    width: 100%;
    height: 100%;
  }

  &:hover{
    .project-desc{
      opacity: 1;
      transform: translate( 0%, -50%);
      // transition: ease all 0.4s;
    }
    .project-clip-wrapper{
      &:before{
        // transition: ease all 0.4s;
        height: 100%;
      }
    }
  }

  &.lg{
    width: $box-lg;
    height: $box-lg;
    right: 0px;
    top: calc(50% - 20px);
    @include respond-width($w-laptop) {
      width: 300px;
      height: 300px;
      right: -10px;
      top: calc(50% - 0px);
    }
    @include respond-width($w-pad) {
      left: 0px;
    }
    @include respond-width($w-mob) {
      top: -35px;
      width: 250px;
      height: 250px;
      left: -120px;
    }
  }
  &.md{
    width: $box-md;
    height:$box-md;
    right:  - 175px;
    top: calc(50% + 195px) ;
    @include respond-width($w-laptop) {
      width: 250px;
      height: 250px;
      right:  - 145px;
      top: calc(50% + 135px) ;
    }
    @include respond-width($w-pad) {
      left: 200px;
    }
    @include respond-width($w-mob) {
      width: 200px;
      height: 200px;
      top: 10px;
      left: 100px;

    }
  }
  &.sm{
    width: $box-sm;
    height: $box-sm;
    right: - 170px ;
    top: calc(50% - 190px) ;
    @include respond-width($w-laptop) {
      width: 220px;
      height: 220px;
      right: - 130px ;
      top: calc(50% - 120px) ;
    }
    @include respond-width($w-pad) {
      left: 210px;
    }
    @include respond-width($w-mob) {
      width: 200px;
      height: 200px;
      top: 120px;
      left: -7px;
      right: 0px;

    }
  }
  &.xs{
    width: $box-xs;
    height: $box-xs;
    right: - 270px ;
    top: calc(50% - 0px) ;
    @include respond-width($w-laptop) {
      width: 220px;
      height: 220px;
      right: - 130px ;
      top: calc(50% - 120px) ;
    }
    @include respond-width($w-pad) {
      left: 210px;
    }
    @include respond-width($w-mob) {
      width: 200px;
      height: 200px;
      top: 120px;
      left: -7px;
      right: 0px;

    }
  }
}
.project-desc{
  z-index: 5;
  opacity: 0;
  top: 50%;
  transform: translate( -100%, -50%);
  transition: ease all 0.45s;
  text-align: center;
  position: absolute;
  right: 0px;
  left: 0px;
  margin: 0px auto;
  color: $black;
  padding: 10px 30px;
  font-size: 15px;
  @include respond-width($w-laptop) {
    font-size: 12px;
  }
  @include respond-width($w-mob) {
    font-size: 11px;
  }
  @include respond-width($w-pad) {
    opacity: 1;
    transform: translate(0%, -50%);
  }
  .project-name{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
    font-weight: 800;
    @include respond-width($w-laptop) {
      padding: 0px 20px;
      font-size: 12px;
    }
    @include respond-width($w-pad) {
      font-size: 11px;
      padding: 0px 30px;
    }
    @include respond-width($w-mob) {
      font-size: 10px;
    }
  }
  .proj-link{
    text-decoration: none;
    padding: 7px 15px;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    color: white;
    transition: ease all 0.3s;
    font-size: 17px;
    @include respond-width($w-laptop){
      padding: 5px 13px;
      font-size: 14px;
    }
    @include respond-width($w-pad){
      font-size: 13px;
    }
    @include respond-width($w-mob){
      padding: 3px 10px;
      font-size: 11px;
    }
    &:after,
    &:before{
      z-index: 1;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      right: 0px;
      background: $black;
      transform: skewX(-45deg);
      transition: ease all 0.3s;
      border: 1px solid $black;
      @include respond-width($w-pad){
        transform: skewX(-25deg);
      }
    }
    &:after{
      background: transparent;
      width: 0px;
      right: inherit;
      left: 0px;
    }
    span{
      position: relative;
      z-index: 2;
    }
    &:hover{
      color: $black;
      &:before{
        border: 0px solid $black;
        width: 0%;
      }
      &:after{
        width: 100%;
      }
    }
  }
}

</style>
