<template>
  <div class="" id="appScrollWrapper">
    <div id="appKmet" >
      <app-menu :firstAniInit="firstAniInit"  :sectionsPos="sectionsPos" :activeSection="activeSection" ></app-menu>
      <app-sec-about :activeSection="activeSection" :firstAniInit="firstAniInit"></app-sec-about>
      <app-sec-skills :sectionStartAnimate="sectionStartAnimate" ></app-sec-skills>
      <app-sec-projects :activeSection="activeSection" :sectionStartAnimate="sectionStartAnimate" ></app-sec-projects>
      <app-sec-contact :activeSection="activeSection" :sectionStartAnimate="sectionStartAnimate" ></app-sec-contact>

      <app-cursor :firstAniInit="firstAniInit" :cursorEnabled="cursorEnabled" :browserIE="browserIE"></app-cursor>
      <app-loader :loaderHide="loaderHide" ></app-loader>
      <app-edge-popup :browserIE="browserIE"></app-edge-popup>
      <app-rwd-landscape-popup :rwdLandscapePopup="rwdLandscapePopup"></app-rwd-landscape-popup>
    </div>

  </div>
</template>

<script>

import AppLoader from './common/appLoader.vue';
import AppCursor from './common/appCursor.vue';
import AppEdgePopup from './common/edgePopup.vue';
import AppRwdLandscapePopup from './common/rwdLandscapePopup.vue';

import AppMenu from './common/appMenu.vue';
import AppSecAbout from './sections/appSecAbout.vue';
import AppSecTimeLine from './sections/appSecTimeLine.vue';
import AppSecProjects from './sections/appSecProjects.vue';
import AppSecSkills from './sections/appSecSkills.vue';
import AppSecLanguages from './sections/appSecLanguages.vue';
import AppSecContact from './sections/appSecContact.vue';

export default {
  name: 'appKmet',
  components: {
    AppCursor,
    AppLoader,
    AppRwdLandscapePopup,
    AppEdgePopup,
    AppMenu,
    AppSecAbout,
    AppSecTimeLine,
    AppSecSkills,
    AppSecProjects,
    AppSecLanguages,
    AppSecContact
  },
  data: () => {
    return {
      sectionsPos: [] ,
      loaderHide: false,
      firstAniInit: false,
      activeSection: 0 ,
      rwdLandscapePopup: false,
      scrollLeftValue: 0,
      browserIE: false,
      cursorEnabled: true,

    }
  },
  methods: {
    sectionStartAnimate(sectionIndex){
      // if(window.innerWidth < 650) return;
      let activeSectionClass = 'sec-ani-in';
      if (sectionIndex == this.activeSection) {
        return activeSectionClass;
      }
    },
    secAniInDelay(type){
      let randomDelay = Math.round(Math.random() * 10 ) / 15;
      return type + '-delay:' + randomDelay + 's; -webkit-' + type + '-delay: ' + randomDelay + 's;'
    },
    isBrowserIE(){
      let browserRaw = window.navigator.userAgent;
      if (browserRaw.indexOf('MSIE') != -1 || ( browserRaw.indexOf('rv:11') != -1 && browserRaw.indexOf('Gecko') != -1 ) ){
        document.getElementsByTagName('body')[0].classList.add('ie-browser');
        return true;
      }else {
        // document.getElementsByTagName('body')[0].classList.add('ie-browser');
        // return true;
        return false;
      }
    }
  },
  mounted(){
    this.cursorEnabled = window.innerWidth > 1050 ? true : false;
    this.browserIE = this.isBrowserIE();

    //Sections Position
    let $sections = document.getElementsByTagName('section');
    for (var i = 0; i < $sections.length; i++) {
      this.sectionsPos.push($sections[i].offsetLeft);
    }

    // Scroll Event
    // -> Menu Active tab
    // -> Animate Elements In
    let $scrollWrapper = document.getElementById('appKmet');
    let sectionWidth = $sections[0].offsetWidth ;
    let sectionWidthHalf = $sections[0].offsetWidth / 2;

    let _this = this; // for setting scrollSideValue

    $scrollWrapper.addEventListener('wheel', (event) => {

        let scrReducecoef = -3;
        let scrReduceBy = (num)=>{
          // if(coef < 1) coef = 1;
          return num / scrReducecoef;
        }
        let wheelX = event.wheelDeltaX;
        if(wheelX == undefined){ wheelX = event.deltaX; scrReducecoef = 0.1; } // Mozzila fix from Chrome
        let wheelY = event.wheelDeltaY;
        if(wheelY == undefined){ wheelY = event.deltaY; scrReducecoef = 0.1; }

        let deltaY = wheelY == 0 ?  false : true ; // up down
        let deltaX = wheelX == 0 ?  false : true ; // Side scroll


        event.preventDefault();

        _this.scrollLeftValue = $scrollWrapper.scrollLeft;

        $scrollWrapper.scrollLeft +=  scrReduceBy( wheelX );
        if (deltaY ) $scrollWrapper.scrollLeft +=  scrReduceBy( wheelY ) ;

    });


    $scrollWrapper.addEventListener('scroll', () => {
      let scrollPos =  $scrollWrapper.scrollLeft;
      for (var i = 0; i < this.sectionsPos.length; i++) {
        // ActiveSection set
        if ((scrollPos + sectionWidthHalf > this.sectionsPos[i]  && scrollPos + sectionWidthHalf < this.sectionsPos[i+1]) || (scrollPos + sectionWidthHalf > this.sectionsPos[this.sectionsPos.length -1]) ) {
          this.activeSection = i;
        }

        // BG MOVE PARALLAX -> only for skills section currently
        if (window.innerWidth > 650 && this.activeSection === 1) {
          // if ((scrollPos + sectionWidth > this.sectionsPos[i]  && scrollPos - sectionWidth < this.sectionsPos[i+1]) || ( scrollPos + sectionWidth > this.sectionsPos[this.sectionsPos.length -1] )) {
            let $bgMoveEl =  $sections[i].getElementsByClassName('bg-move');
            let bgMoveCoef = 23;
            let bgMovePercent =  - 10 - (scrollPos - sectionWidth * i + sectionWidth  / 2 ) / bgMoveCoef;
            for (var ii = 0; ii < $bgMoveEl.length; ii++) {
              $bgMoveEl[ii].clientWidth > 740 ? $bgMoveEl[ii].style.right  =  bgMovePercent / 2 + '%' :  $bgMoveEl[ii].style.right  =  bgMovePercent + '%' ;
            }
          // }
        }// BG MOVE PARALLAX END

      }
    });

    window.addEventListener("resize", () => {
      this.cursorEnabled =  window.innerWidth > 1025 ? true : false;
      this.sectionsPos = [];
      for (var i = 0; i < $sections.length; i++) {
        this.sectionsPos.push($sections[i].offsetLeft);
      }

      this.rwdLandscapePopup = window.innerWidth < 750 && window.innerHeight < 500 ? true : false;

    });

    // Window on load
    // -> Loader Hide and Animate Signature
    window.onload = () => {
      this.rwdLandscapePopup = window.innerWidth < 750 && window.innerHeight < 500 ? true : false;
      $scrollWrapper.scrollLeft = 1;
      setTimeout(()=>{
        this.loaderHide = true;
      },0);
      setTimeout(()=>{
        this.firstAniInit = true;
      },500);
    }

  }


}

</script>

<style lang="scss">

  @import "assets/sass/config.scss";

  //-----------------------------------
  // Sections styleing
  //-----------------------------------

  a{
    cursor: none;
  }

  body{
    padding: 0px;
    margin: 0px;
    color: $white;
    font-size: 15px;
    font-family: "Helvetica";
    height: 100vh;
    position: relative;
    overflow: hidden;
    cursor: none;
    @include respond-width($w-pad){
      cursor: initial;
      a{
        cursor: pointer;
      }
    }
    &.ie-browser{
      cursor: initial;
      a{
        cursor: pointer;
      }
    }
  }
  ::selection {
    background: $blue; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: $blue; /* Gecko Browsers */
  }
  #appScrollWrapper{
    overflow: hidden;
    position: relative;
  }
  #appKmet{
    white-space: nowrap;
    height: calc(100vh + 17px);
    margin: 0px;
    padding: 0px;
    overflow-x: scroll;
    position: relative;
    background: url('assets/img/bg/about-img.png') no-repeat 50%;
    background-size: cover;
    &:before{
      content: '';
      position: fixed;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      opacity: 0.85;
      width: 100%;
      background: $black-d;
      height: 100%;
    }
  }
  section{
    height: calc(100% - 2px);
    white-space: normal;
    vertical-align: top;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    position: relative;
    width: calc(100vw - 0px);
    @include respond-width($w-mob) {
      padding: 0px 15px;
    }
  }
  .section-content-wrapper{
    position: absolute;
    top: 50%;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    transform: translate(0,-50%);
    // max-width: 1000px;
    width: 80%;
  }
  .sec-head-wrapper{
    text-align: left;
    position: absolute;
    top: 0%;
    left: 0px;
    margin: 35px;
    @include respond-width($w-l){
      margin: 20px;
    }
    @include respond-width($w-mob){
      margin: 15px;
    }
    .sec-headline{
      font-weight: 400;
      padding: 0px;
      margin: 0px;
      text-transform: uppercase;
      text-align: left;
      font-size: 22px;
      letter-spacing: 0.3em;
      position: relative;
      color: $white;
      @include respond-width($w-l){
        font-size: 18px;
      }
      @include respond-width($w-mob){
        font-size: 16px;
      }
    }
  }
  // for all BG MOUSE MOVE backgrounds
  .bg-move{
    transform: translate( 0%, -50%);
    position: absolute;
    top: 50%;
    right: 0%;
    margin: auto;
    background: $black;
    height: 100%;
    img{
      height: 100%;
    }
  }

</style>
