<template>

  <div  id="uniqueCursor" v-if="!browserIE && cursorEnabled">
    <div class="cursor-size-wrapper" :class="{ aniover: loaderAnimation.over && !loaderAnimation.overAniFinished }" :style="{ width: cursorConfig.currentSize  + 'px' , height: cursorConfig.currentSize + 'px', opacity: cursorConfig.currentOpacity }" >
      <span class="cursor-txt" v-if="cursorConfig.currentText" v-html="cursorConfig.currentText" ></span>
    </div>

     <div class="dots-wrapper" :class="{ firstinit : loaderAnimation.init, aniover: loaderAnimation.over } ">
       <span class="dot left"></span>
       <span class="dot right"></span>
     </div>

  </div>

</template>

<script type="text/babel">
export default {
  name: "appCursor",
  props: ['browserIE', 'cursorEnabled', 'firstAniInit' ],
  data: () => {
    return {
      loaderAnimation: {
        init: this.firstAniInit,
        aniTime: 1500,
        over: false,
        overAniFinished: false,
      },
      // firstAniInit
      // cursorEnabled: true,
      cursorConfig: {
        baseSize: 100,
        baseOpacity: 0.45,
        baseText: "Scroll",
        currentSize: null,
        currentOpacity: null,
        currentText: null,
        windowMargin: 40,
      }
    }
  },
  methods:{
    cursorInit(){
      window.onmousemove = (event) => {
        let  _event = event;
        this.cursorMove(_event);
      };
      document.addEventListener( 'mouseout' , (e) => {
        // console.log('mouseout', event.clientX, event.clientY, window.innerWidth, window.innerHeight);
        // if()

        e = e ? e : window.event;
        var from = e.relatedTarget || e.toElement;
        if (!from || from.nodeName == "HTML") {
          
          this.cursorConfig.currentText = false;
          this.setSize(1);
          // stop your drag event here
          // for now we can just use an alert
          // alert("left window");
        }

      });
      this.setSize(false);
      this.setOpacity(0.01);
      this.setPosition( 0 , 0 , true);
      this.setText();
    },
    cursorMove(_event){
      this.setText(_event.target.dataset.cursor);

      // set cursor size
      if (_event.target.dataset.cursorsize) {
        this.setSize(_event.target.dataset.cursorsize);
      }else {
        this.setSize(false);
      }

      // set cursor opacity
      if (_event.target.dataset.cursoropacity) {
        this.setOpacity(_event.target.dataset.cursoropacity);
      }else if(!this.loaderAnimation.over){
        this.setOpacity(0.01);
      }else {
        this.setOpacity(false);
      }

      // set cursor position to the Object
      setTimeout( (setTimeout) => {
        this.setPosition(_event.clientX, _event.clientY, !this.loaderAnimation.overAniFinished);
      } , 1);
    },
    setPosition(_pos_L_X, _pos_T_Y, _static){
      if(_static){
        this.$el.style.left =  window.innerWidth / 2  + 'px' ;
        this.$el.style.top = window.innerHeight / 2  + 'px';
      }else{
        this.$el.style.left =  _pos_L_X  + 'px' ;
        this.$el.style.top = _pos_T_Y  + 'px';
      }
    },
    setText(_text){
      if(_text){
        if (_text == "false" ) {
          this.cursorConfig.currentText = false;
        }else {
          this.cursorConfig.currentText = _text;
        }
      } else {
        this.cursorConfig.currentText = this.cursorConfig.baseText;
      }
    },
    setSize(_size){
      this.cursorConfig.currentSize  = _size ? _size  : this.cursorConfig.baseSize ;
    },
    setOpacity(_opacity){
      this.cursorConfig.currentOpacity  = _opacity ? _opacity  : this.cursorConfig.baseOpacity ;
    }
  },
  watch: {
    browserIE(val, oldVal){
      if(!val){
        this.cursorInit();
      }
    },
    firstAniInit(_init){
      if(_init){
        this.loaderAnimation.init = _init;
        const _this = this;
        setTimeout( function(){
          _this.loaderAnimation.over = true;
          _this.setOpacity(false);
        },this.loaderAnimation.aniTime );
        setTimeout( function(){
          _this.loaderAnimation.overAniFinished = true;
        },this.loaderAnimation.aniTime + 500 );
      }
    }
  },
  mounted(){
    if(!this.browserIE){
      this.cursorInit();
    }
  },
};
</script>

<style lang="scss" rel="stylesheet/scss">

@import "../assets/sass/config.scss";

.dots-wrapper{
  &.firstinit{
    .dot{
      transition-delay: 0.3s;
      transition: cubic-bezier(.26,.01,0,.97) all 1.3s;
      opacity: 0.22;
      &.right{
        right: 50%;
      }
      &.left{
        left: 50%;
      }
    }
  }
  &.aniover{
    .dot{
      transition-delay: 0s;
      transition: linear all 0.35s;
      z-index: -99;
      opacity: 0;
    }
  }
  .dot{
    position: fixed;
    top: 50%;
    height: 100px;
    width: 100px;
    background: $white;
    border-radius: 50%;
    opacity: 0;
    &.right{
      transform: translate(50% , -50%);
      right: 0%;
    }
    &.left{
      transform: translate(-50% , -50%);
      left: 0%;
    }
  }
}


#uniqueCursor{
  pointer-events: none;
  position: fixed;
  text-align: center;
  z-index: 99;
  .cursor-size-wrapper{
    transform: translate(-50% , -50%);
    background: $white;
    opacity: 0.45;
    border-radius: 50%;
    display: block;
    position: relative;
    transition: ease all 0.2s;
    &.aniover{
      animation: fadein linear forwards 0.35s;
      // transition: ease all 1s;
    }
  }
  .cursor-txt{
    letter-spacing: 0.20em;
    color: $black;
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    position: absolute;
    top: 50%;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    transform: translate( 0 , -50%);
  }

}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.45
  }
}

</style>
