<template>
  <div  >
    <span>t</span>
    <span>e</span>
    <span>s</span>
    <span>t</span>
  </div>
</template>

<script type="text/babel">
export default {
  name: "appHeadlineAnimator",
  props: ['stringData'],
  data: () => {
    return {

    }
  },
  computed:{

  }
};
</script>

<style lang="scss" rel="stylesheet/scss">

@import "../assets/sass/config.scss";


</style>
