<template>
  <transition name="fade">
    <div id="appLoader" v-if="!loaderHide" >



    </div>
  </transition>
</template>

<script type="text/babel">
export default {
  name: "appLoader",
  props: ['loaderHide'],
  data: () => {
    return {
    }
  },
  mounted(){
    
  }
};
</script>

<style lang="scss" rel="stylesheet/scss">

@import "../assets/sass/config.scss";

  #appLoader{
    padding: 0px;
    margin: 0px;
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 20;
      background: $grey-bg;
      height: 100%;
      width: 100%;
      overflow: hidden;
      z-index: 101;
      img{
        position: absolute;
        top: 50%;
        transform: (0,-50%);
        right: 0px;
        left: 0px;
        margin: 0 auto;
      }
  }
  .fade-leave{
    transition: ease opacity 0.5s;
    opacity: 1;
  }
  .fade-leave-to{
    transition: ease opacity 1s;
    opacity: 0;
  }

</style>
