<template>
  <div id="menu" :class="{firstinit : firstAniInit}">
    <div class="menu-top-wrapper">
      <div class="menu-status" >
        <span data-cursorsize="0" data-cursor="false" data-cursorfixed="true" class="section-link" v-for="(secPos , index) in sectionsPos" @click="scrollToSection(secPos)" :class="{ 'active-tab' : isActiveMenuTab(index) }"></span>
      </div>
    </div>
    <div class="menu-arrow-wrapper" @click="scrollToNextSection"  :class="menuArrowHide()" data-cursor="next" data-cursoropacity="0.8">

      <span class="arrow-right"  data-cursor="next" data-cursoropacity="0.8" ></span>
      <span class="arrow-right"  data-cursor="next" data-cursoropacity="0.8" ></span>
      <span class="arrow-right"  data-cursor="next" data-cursoropacity="0.8" ></span>
      <span class="arrow-right"  data-cursor="next" data-cursoropacity="0.8" ></span>

    </div>
  </div>
</template>

<script type="text/babel">

// var VueScrollTo = require('vue-scrollto');

export default {
  props  :['sectionsPos', 'activeSection', 'firstAniInit'],
  data() {
    return{
      // menuActiveTab(){
      //   return activeSection;
      // }
    }
  },
  methods: {
    isActiveMenuTab(index){
      if (index == this.activeSection) {
        return true;
      }
    },
    menuArrowHide(){
      if (this.activeSection == this.sectionsPos.length - 1) {
        return 'arrow-hide';
      }else {
        return 'arrow-show';
      }
    },
    scrollToSection(secPos) {
      let $scrollWrapper = document.getElementById('appKmet');
      this.scrollToAnimate($scrollWrapper, secPos , 500);
    },
    scrollToNextSection() {
      let $scrollWrapper = document.getElementById('appKmet');
      let currentPos = $scrollWrapper.scrollLeft;
      let sectionWidth = this.sectionsPos[1];
      let scrollTo = null;
      for (var i = 0; i < this.sectionsPos.length; i++) {
        if( currentPos < this.sectionsPos[i]  && scrollTo == null){
          scrollTo = this.sectionsPos[i];
          this.scrollToAnimate($scrollWrapper, scrollTo , 500);
        }
      }
    },
    scrollToAnimate(element, to, duration) {
      let start = element.scrollLeft,
      change = to - start,
      currentTime = 0,
      increment = 20;
      let  animateScroll = () => {
        currentTime += increment;
        let val = this.easeInOutQuad(currentTime, start, change, duration);
        element.scrollLeft = val;
        if (currentTime < duration) {
          setTimeout(animateScroll, increment);
        }
      };
      animateScroll();

    },
    easeInOutQuad(t, b, c, d){
      t /= d / 2;
      if (t < 1) return c / 2 * t * t + b;
      t--;
      return -c / 2 * (t * (t - 2) - 1) + b;
    }
  },
  mounted(){

  }
};
</script>

<style lang="scss" rel="stylesheet/scss">

  @import "../assets/sass/config.scss";

  #menu{
    opacity: 0;
    &.firstinit{
      transition: ease all 1s;
      transition-delay: 2.5s;
      @include respond-width($w-pad){
        transition-delay: 0.8s;
      }
      opacity: 1;
      .arrow-right{
        animation: pulse linear 1s;
        animation-delay: 2.6s;
        @include respond-width($w-pad){
          animation: none;
        }
        &:nth-child(2){
          animation-delay: 2.7s
        }
        &:nth-child(3){
          animation-delay: 2.8s
        }
        &:nth-child(4){
          animation-delay: 2.9s
        }
      }
    }
  }

  .menu-top-wrapper{
    display: block;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;
  }
  .menu-arrow-wrapper{
    font-size: 30px;
    position: fixed;
    display: block;
    bottom: 0px;
    z-index: 20;
    right: 10px;
    padding: 20px 10px 10px 20px;
    transition: ease all 0.2s;
    .arrow-right {
      display: inline-block;
      width: 0;
      height: 0;
      position: relative;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid $white;
      opacity: 0.45;
      transition: ease all 0.3s;
      margin-right: 15px;
      @include respond-width($w-mob){
        margin-right: 5px;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 9px solid $white;
      }
      &:nth-child(2){
        transition-delay: 0.1s
      }
      &:nth-child(3){
        transition-delay: 0.2s
      }
      &:nth-child(4){
        transition-delay: 0.3s
      }
    }
    @include respond-width($w-mob) {
      right: 0px;
    }
    &:hover{
      .arrow-right{
        opacity: 1;
      }
    }
    &.arrow-hide{
      .arrow-right{
        opacity: 0;
      }
    }

  }
  .menu-status{
    position: fixed;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    bottom: 0px;
    text-align: center;
    @include respond-width($w-mob){
      right: inherit;
      margin: 0px;
      left: 10px;
    }
    .section-link{
      width: 40px;
      height: 50px;
      padding-top: 10px;
      position: relative;
      display: inline-block;
      @include respond-width($w-mob){
        width: 30px;
      }
      &:before,
      &:after{
        content: '';
        width: 12px;
        height: 12px;
        right: 0px;
        left: 0px;
        margin: 0 auto;
        border-radius: 50%;
        opacity: 0.4;
        background: $white;
        position: absolute;
        top: calc(50% + 10px);
        transform: translate(0, -50%);
        transition: ease all 0.3s;
      }
      &:before{
        opacity: 0;
        width: 40px;
        height: 40px;
        @include respond-width($w-pad){
          display: none
        }
      }

      &:hover{
        &:before{
          opacity: 0.4;
        }
        &:after{
          opacity: 0.8;
        }
      }
      &.active-tab{
        &:after{
          transition: ease all 0.3s;
          opacity: 1;
        }
      }
    }
  }

  @keyframes pulse {
    0% {
      opacity: 0.45;
    }
    100% {
      opacity: 1;
    }
  }


</style>
