<template>

  <div class="text-array-wrapper">
    <div class="text-array bg">
      <span class="letter-wrapper" v-for="letter in textArray"  >
        <span  class="letter" >{{letter}}</span>
      </span>
    </div>
    <div class="text-array pseudo">
      <span class="letter-wrapper" v-for="letter in textArray"  >
        <span  class="letter" >{{letter}}</span>
      </span>
    </div>


  </div>

</template>

<script type="text/babel">
export default {
  name: "appTextAni",
  props: ['textData', 'animateTrigger'],
  data: () => {
    return {
      textArray: null,
    }
  },
  methods:{

  },
  watch: {

  },
  mounted(){
    this.textArray =  this.textData.split('');
  }

};
</script>

<style lang="scss" rel="stylesheet/scss">

@import "../assets/sass/config.scss";

.text-array{
  position: relative;
  margin-bottom: 50px;
  font-size: 70px;
  font-family: "HelveticaMedium";
  font-weight: 800;
  letter-spacing: 10px;
  line-height: 135%;
  text-align: center;
  display: block;
  filter: brightness(1.25);
  text-transform: uppercase;
  background: url(/src/assets/img/bg/about.png) no-repeat bottom;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include respond-width($w-xl){
    font-size: 63px;
    letter-spacing: 7px;
    margin-bottom: 40px;
  }
  @include respond-width($w-l){
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 35px;
  }
  @include respond-width($w-pad){
    font-size: 45px;
  }
  @include respond-width($w-mob){
    font-size: 28px;
    width: 95%;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0px;
    line-height: 150%;
  }
  @include respond-width($w-xxs){
    font-size: 25px;
  }
}


.text-array.pseudo{
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  @include respond-width($w-pad){
    display: none;
  }
  .letter-wrapper{
    position: relative;
    overflow: hidden;
  }
  .letter{
    position: relative;
  }
  .letter{
    transition: ease all 0.5s;
    transition-delay: 0.3s;
    opacity: 0;
    &:hover{
      transition: ease all 0.1s;
      transition-delay: 0s;
      opacity: 1;
    }
  }
}
.text-array.bg{
  opacity: 1;
}



</style>
