<template>
  <div class="" id="edgePopup" v-if="browserIE">
    <div class="edge-popup-wrapper">
      <div class="edge-txt headline">
        Please visit the page from a modern browser
      </div>
      <div class="edge-link-wrapper">
        <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">
          <img src="src/assets/img/edge-firefox-ic.svg" alt="">
          <span>
          Firefox
        </span>
      </a>
      </div>
      <div class="edge-link-wrapper">
        <a href="https://www.google.com/chrome/" target="_blank">
          <img src="src/assets/img/edge-chrome-ic.svg" alt="">
          <span>
            Chrome
          </span>
        </a>
      </div>
      <div class="edge-txt">
        or visit my portfolio on Linked In:
      </div>
      <div class="edge-cv-wrapper">
        <a href="https://www.linkedin.com/in/tomas-kmet-54a41020/" target="_blank"><span>Tomas Kmet</span></a>
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
export default {
  name: "edgePopup",
  props: [ 'browserIE' ],
  data: () => {
    return {
      // edgePopupShow: false
    }
  },
};
</script>

<style lang="scss" rel="stylesheet/scss">

@import "../assets/sass/config.scss";

  #edgePopup{
    position: fixed;
    background: url('../assets/img/bg/about-img.png') no-repeat 50%;
    background-size: cover;
    z-index: 90;
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
    white-space: normal;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    &:before{
      content: '';
      position: fixed;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      opacity: 0.8;
      width: 100%;
      background: $black-d;
      height: 100%;
    }
    .edge-txt{
      text-align: center;
      margin: 35px auto;
      font-size: 20px;
      @include respond-width($w-mob){
        margin: 25px auto 15px;
        font-size: 15px;
      }
      &.headline{
        font-weight: 800;
        font-size: 25px;
        @include respond-width($w-mob){
          font-size: 20px;
          margin-top: 35px;
        }
      }
      a{
        color: $white;
        text-decoration: underline;
      }
    }
    .edge-popup-wrapper{
      max-width: 600px;
      width: 95%;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      right: 0px;
      left: 0px;
      @include respond-width($w-mob){
        width: 300px;
        top: 0%;
        transform: translate(0,0%);
        position: relative;
      }
    }
    .edge-link-wrapper{
      margin: 10px auto;
      display: inline-block;
      vertical-align: top;
      width: 49%;
      text-align: center;
      @include respond-width($w-mob){
        width: 100%;
      }
      a{
        display: inline-block;
        font-size: 20px;
        color: $white;
        text-decoration: none;
        font-weight: 600;

        &:hover{
          img{
            transition: ease all 0.3s;
            left: 10px;
          }
        }
      }
      img{
        left: 0px;
        transition: ease all 0.3s;
        margin-right: 15px;
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        position: relative;
        @include respond-width($w-mob){
          width: 35px;
        }
      }
    }

    .edge-cv-wrapper{
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      text-align: center;
      @include respond-width($w-mob){
        width: 100%;
      }
      a{
        font-size: 30px;
        color: $white;
        font-weight: 600;
        text-decoration: none;
        display: inline-block;
        @include respond-width($w-mob){
          margin: 10px 0px;
        }
      }
    }
  }

</style>
