<template>
  <div class="" id="rwdLandscapePopup" v-if="rwdLandscapePopup">
    <div class="rwdland-popup-wrapper">
      <!-- <div class="edge-txt headline">

      </div> -->
      <div class="rwdland-txt headline">
        Please rotate your device to portrait orientation.
         <!-- orientation to enjoy the page :) -->
      </div>

      <div class="rwdland-icon">
        <img src="src/assets/img/rwd-ls-icon.png" alt="">
      </div>

      <div class="rwdland-txt headline">
        It is prettier :)
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
export default {
  name: "rwdLandscapePopup",
  props: ['rwdLandscapePopup'],
  data: () => {
    return {
      // edgePopupShow: false
    }
  },
  mounted(){
      window.navigator.userAgent.indexOf("Edge") > -1 ?  this.edgePopupShow = true :   this.edgePopupShow = false;
      // this.edgePopupShow = true;
  }
};
</script>

<style lang="scss" rel="stylesheet/scss">

@import "../assets/sass/config.scss";

  #rwdLandscapePopup{
    position: fixed;
    background: $grey-bg;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
    white-space: normal;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    .rwdland-popup-wrapper{
      max-width: 600px;
      width: 95%;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      right: 0px;
      left: 0px;
      @include respond-width($w-mob){
        width: 300px;
      }
    }
    .rwdland-txt{
      text-align: center;
      &.headline{
        margin: 35px auto;
        font-weight: 800;
        font-size: 25px;
        @include respond-width($w-mob){
          margin: 25px auto;
          font-size: 17px;
        }
      }
    }
    .rwdland-icon{
      text-align: center;
      img{
        filter: invert(1);
        @include respond-width($w-mob) {
          max-width: 100px;
        }
      }
    }

  }

</style>
