//**************************************
// colors
//**************************************
// $grey-bg: #fefefe;
// $grey-bg: #282828;

$black: #282828;
$black-d: black;
$grey-bg: rgba(25,25,25,1);
$white: #ffffff;
$blue: #3F627F;



//**************************************
// RWD mixin
//**************************************
@mixin respond-width($media) {
     @media (max-width: $media - 1px){
        @content;
    }
}
@mixin respond-height($media) {
     @media (max-height: $media - 1px){
        @content;
    }
}

$w-laptop: 1450px; // from 1700px till 1300px -> 1366px
$w-pad: 1050px; // from 1300px till 650px -> 1024px
$w-mob: 650px; // from 650px till 320px  -> 400px

$w-xl: 1650px;
$w-l: 1450px;
$w-m-l: 1250px;
$w-m: 1023px;
$w-s: 770px;
$w-xs: 450px;
$w-xxs: 350px;
