
  @mixin time-point-size($rwd-ad-w, $rwd-ad-h) {
        &.xs{
          width: $box-xs-w * $rwd-ad-w;
          .point-bg{
            height: $box-xs-h * $rwd-ad-h;
          }
          &.top{
            // bottom: $box-xs-h * $rwd-ad-h;
          }
          &.offset--100{
            margin-left: - $box-xs-w * $rwd-ad-w ;
          }
        }
        &.sm{
          width: $box-sm-w * $rwd-ad-w;
          .point-bg{
            height: $box-sm-h * $rwd-ad-h;
          }
          &.top{
            // bottom: $box-sm-h * $rwd-ad-h;
          }
          &.offset-25{
            margin-right: - ($box-sm-w * $rwd-ad-w)  / 4;
          }
        }
        &.md{
          width: $box-md-w * $rwd-ad-w;
          .point-bg{
            height: $box-md-h * $rwd-ad-h;
          }
          &.top{
            // bottom: $box-md-h * $rwd-ad-h;
          }
          &.offset--50{
            margin-left:  - ($box-md-w * $rwd-ad-w)  / 2;
          }
          &.offset--25{
            margin-left: - ($box-md-w * $rwd-ad-w)  / 4;
          }
        }
        &.lg{
          width: $box-lg-w * $rwd-ad-w;
          .point-bg{
            height: $box-lg-h * $rwd-ad-h ;
          }
          &.top{
            // bottom: $box-lg-h * $rwd-ad-h;
          }
        }
        &.xl{
          width: $box-xl-w  * $rwd-ad-w;
          .point-bg{
            height: $box-xl-h * $rwd-ad-h;
          }
        }
  }
